.rows {
  display: flex;
  width: 88%;
  margin: 20px auto -2px auto;
  justify-content: space-between;
}

.button__item {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
  font-size: 22px;
  margin-top: 6px;
  font-weight: bold;
}

.button__dot,
.button,
.button__slash,
.button__per,
.button__sub,
.button__plus {
  display: flex;
  width: 55px;
  height: 35px;
  border-radius: 4px;
  cursor: pointer;
  background: var(--key-background-orange);
  border-bottom: 3px solid var(--key-shadow-orange);
  color: var(--very-dark-grayish-blue);
  transition: 300ms;

  &:hover {
    background: var(--key-shadow-orange);
  }
}

.button__del {
  color: white;
  background: var(--key-background-1);
  border-bottom: 3px solid var(--key-shadow-1);
  transition: 300ms;

  &:hover {
    background: var(--key-shadow-1);
  }
}

.button__reset {
  background: var(--key-background-1);
  border-bottom: 3px solid var(--key-shadow-1);
  transition: 300ms;

  &:hover {
    background: var(--key-shadow-1);
  }
}

.button__same {
  background: var(--key-background-toggle-1);
  border-bottom: 3px solid var(--key-shadow-red-1);
  transition: 300ms;

  &:hover {
    background: var(--key-shadow-red-1);
  }
}

input[type="submit"],
input[type="text"] {
  text-align: right;
  border: 0;
  background: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.button__del {
  display: flex;
  width: 55px;
  text-transform: uppercase;
  height: 35px;
  font-size: 13px !important;
  cursor: pointer;
  border-radius: 4px;
}

.button__reset {
  display: flex;
  width: 138px;
  text-transform: uppercase;
  height: 35px;
  cursor: pointer;
  border-radius: 4px;
  color: initial;
}

.button__reset__span {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  font-size: 13px;
  cursor: pointer;
}

.button__del__span {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  font-size: 13px;
  cursor: pointer;
}

.button__same {
  display: flex;
  width: 138px;
  text-transform: uppercase;
  height: 35px;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (max-width: 400px) {
  .container__card__calc {
    width: 90%;
  }

  .button__reset {
    width: 48%;
  }

  .button__same {
    width: 48%;
  }
}
