<div class="rows">
  <div class="button">
    <input type="submit" id="id" value="7" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button">
    <input type="submit" id="id" value="8" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button">
    <input type="submit" id="id" value="9" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button__del" id="delete">
    <input type="submit" value="del" #delete id="id" (click)="onClickDel()" class="button__del__span">
  </div>
</div>

<div class="rows">
  <div class="button">
    <input type="submit" id="id" value="4" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button">
    <input type="submit" id="id" value="5" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button">
    <input type="submit" id="id" value="6" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button__plus">
    <input type="submit" id="id" value="+" (click)="onClick($event)" class="button__item">
  </div>
</div>

<div class="rows">
  <div class="button">
    <input type="submit" id="id" value="1" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button">
    <input type="submit" id="id" value="2" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button">
    <input type="submit" id="id" value="3" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button__sub">
    <input type="submit" id="id" value="-" (click)="onClick($event)" class="button__item">
  </div>
</div>

<div class="rows">
  <div class="button__dot">
    <input type="submit" id="id" value="." (click)="onClick($event)" class="button__item">
  </div>
  <div class="button">
    <input type="submit" id="id" value="0" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button__slash">
    <input type="submit" id="id" value="/" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button__per">
    <input type="submit" id="id" value="*" (click)="onClick($event)" class="button__item">
  </div>
</div>

<div class="rows">
  <div class="button__reset" id="reset">
    <input type="submit" id="id" value="reset" #reset (click)="onClickReset()" class="button__reset__span">
  </div>
  <div class="button__same">
    <input type="submit" id="id" value="=" (click)="onClickSame()" class="button__item">
  </div>
</div>
