<div class="rows">
  <div class="button">
    <input type="submit" id="7" value="7" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button">
    <input type="submit" id="8" value="8" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button">
    <input type="submit" id="9" value="9" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button__del" id="delete">
    <input type="submit" id="del" value="del" (click)="onClickDel()" class="button__del__span">
  </div>
</div>

<div class="rows">
  <div class="button">
    <input type="submit" id="4" value="4" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button">
    <input type="submit" id="5" value="5" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button">
    <input type="submit" id="6" value="6" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button__plus">
    <input type="submit" id="+" value="+" (click)="onClick($event)" class="button__item">
  </div>
</div>

<div class="rows">
  <div class="button">
    <input type="submit" id="1" value="1" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button">
    <input type="submit" id="2" value="2" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button">
    <input type="submit" id="3" value="3" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button__sub">
    <input type="submit" id="-" value="-" (click)="onClick($event)" class="button__item">
  </div>
</div>

<div class="rows">
  <div class="button__dot">
    <input type="submit" id="." value="." (click)="onClick($event)" class="button__item">
  </div>
  <div class="button">
    <input type="submit" id="0" value="0" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button__slash">
    <input type="submit" id="/" value="/" (click)="onClick($event)" class="button__item">
  </div>
  <div class="button__per">
    <input type="submit" id="*" value="*" (click)="onClick($event)" class="button__item">
  </div>
</div>

<div class="rows">
  <div class="button__reset" id="reset">
    <input type="submit" id="reset" value="reset" (click)="onClickReset()" class="button__reset__span">
  </div>
  <div class="button__same">
    <input type="submit" id="=" value="=" (click)="onClickSame()" class="button__item">
  </div>
</div>
