<div class="rows">
  <div class="button">
    <input type="submit"  value="7" (click)="calculatedService.addNumber({type: 'addNumber', value: '7'})"
      class="button__item">
  </div>
  <div class="button">
    <input type="submit"  value="8" (click)="calculatedService.addNumber({type: 'addNumber', value: '8'})"
      class="button__item">
  </div>
  <div class="button">
    <input type="submit"  value="9" (click)="calculatedService.addNumber({type: 'addNumber', value: '9'})"
      class="button__item">
  </div>
  <div class="button__del" id="delete">
    <input type="submit" value="del" #delete  (click)="calculatedService.addNumber({type: 'del'})"
      class="button__del__span">
  </div>
</div>

<div class="rows">
  <div class="button">
    <input type="submit"  value="4" (click)="calculatedService.addNumber({type: 'addNumber', value: '4'})"
      class="button__item">
  </div>
  <div class="button">
    <input type="submit"  value="5" (click)="calculatedService.addNumber({type: 'addNumber', value: '5'})"
      class="button__item">
  </div>
  <div class="button">
    <input type="submit"  value="6" (click)="calculatedService.addNumber({type: 'addNumber', value: '6'})"
      class="button__item">
  </div>
  <div class="button__plus">
    <!-- button--plus -->
    <input type="submit"  value="+" (click)="calculatedService.addNumber({type: 'add', value:'-'})"
      class="button__item">
  </div>
</div>

<div class="rows">
  <div class="button">
    <input type="submit"  value="1" (click)="calculatedService.addNumber({type: 'addNumber', value: '1'})"
      class="button__item">
  </div>
  <div class="button">
    <input type="submit"  value="2" (click)="calculatedService.addNumber({type: 'addNumber', value: '2'})"
      class="button__item">
  </div>
  <div class="button">
    <input type="submit"  value="3" (click)="calculatedService.addNumber({type: 'addNumber', value: '3'})"
      class="button__item">
  </div>
  <div class="button__sub">
    <input type="submit"  value="-" (click)="calculatedService.addNumber({type: 'sub'})" class="button__item">
  </div>
</div>

<div class="rows">
  <div class="button__dot">
    <input type="submit"  value="." (click)="calculatedService.addNumber({type: 'addNumber', value: '.'})"
      class="button__item">
  </div>
  <div class="button">
    <input type="submit"  value="0" (click)="calculatedService.addNumber({type: 'addNumber', value: '0'})"
      class="button__item">
  </div>
  <div class="button__slash">
    <input type="submit"  value="/" (click)="calculatedService.addNumber({type: 'div', value:'/'})"
      class="button__item">
  </div>
  <div class="button__per">
    <input type="submit" value="*" (click)="calculatedService.addNumber({type: 'mol', value:'*'})" class="button__item">
  </div>
</div>

<div class="rows">
  <div class="button__reset" id="reset">
    <input type="submit" value="reset" #reset (click)="calculatedService.addNumber({type: 'reset'})"
      class="button__reset__span">
  </div>
  <div class="button__same">
    <input type="submit" value="=" (click)="calculatedService.addNumber({type: 'do'})" class="button__item">
  </div>
</div>
