.container__display {
  display: flex;
  width: 100%;
  margin-top: 15px;
  height: 85px;
  justify-content: flex-end;
  border-radius: 8px;
  align-items: center;
  font-size: 25px;
}

.display {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 30px;
  margin-right: 18px;
}
