/* You can add global styles to this file, and also import other style files */

:root {
  // Theme 1

  // Backgrounds
  --main-background-1: hsl(222, 26%, 31%);
  --toggle-background-1: hsl(223, 31%, 20%);
  --screen-background-1: hsl(224, 36%, 15%);

  // Keys
  --key-background-1: hsl(225, 21%, 49%);
  --key-shadow-1: hsl(224, 28%, 35%);
  --key-background-toggle-1: hsl(6, 63%, 50%);
  --key-shadow-red-1: hsl(6, 70%, 34%);
  --key-background-orange: hsl(30, 25%, 89%);
  --key-shadow-orange: hsl(28, 16%, 65%);

  // Text
  --very-dark-grayish-blue: hsl(221, 14%, 31%);
  --white: white;


  // Theme 2

  // Backgrounds
  --main-background-2:hsl(0, 0%, 90%) ;
  --toggle-background-2: hsl(0, 5%, 81%);
  --screen-background-2: hsl(0, 0%, 93%);

  // Keys
  --key-background-2: hsl(185, 42%, 37%);
  --key-shadow-2: hsl(185, 58%, 25%);
  --key-background-yellow-2: hsl(45, 7%, 89%);
  --key-shadow-yellow-2: hsl(35, 11%, 61%);
  --key-background-orange-2: hsl(25, 98%, 40%);
  --key-shadow-orange-2: hsl(25, 99%, 27%);

  // Text
  --very-dark-grayish-yellow: hsl(60, 10%, 19%);
  --white-2: white;


  // Theme 3

  // Backgrounds
  --main-background-3: hsl(268, 75%, 9%);
  --screen-background-3: hsl(268, 71%, 12%);

  // Keys
  --key-background-3: hsl(281, 89%, 26%);
  --key-shadow-3: hsl(285, 91%, 52%);
  --key-background-cyan-3: hsl(176, 100%, 44%);
  --key-shadow-cyan-3: hsl(177, 92%, 70%);
  --key-background-violet-3: hsl(268, 47%, 21%);
  --key-shadow-magenta-3: hsl(290, 70%, 36%);

  // Text
  --light-yellow-3: hsl(52, 100%, 62%);
  --dark-blue: hsl(198, 20%, 13%);
  --white-3: white;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
  font-family: 'Spartan', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
