<div id="container__calc">
  <div style="display: flex; width: 375px; margin: auto; border-radius: 8px; flex-direction: column;">
  <!-- Header -->

  <div class="container__header__calc">
    <div class="header__calc">
      <span class="header__title__calc">calc</span>
      <span class="header__theme">
        <span (click)="one()">uno</span>
        <span (click)="two()">due</span>
        <span (click)="three()">Tre</span>
      </span>
    </div>
  </div>

  <!-- Display -->
  <div class="container__display">
    <span class="display">
      399,981
    </span>
  </div>

  <!-- Calc -->
  <div class="container__calculation">

  </div>


</div>
</div>




