<div class="container__calc {{calculatedService.storedTheme}}">
  <div class="container__card__calc">
    <!-- Header -->
    <div class="container__header__calc">
      <div class="header__calc">
        <span class="header__title__calc">calc</span>
        <!-- Switch -->
        <app-switch></app-switch>
      </div>
      <!-- Display -->
      <div class="container__display">
        <span class="display" #operazione></span>
      </div>
      <!-- <div class="container__display" #operazione>
      </div> -->

      <!-- Calc -->
      <div class="container__calculation">
        <app-buttons (onClicks)="onClick(id)" (onClicksDel)="onClickDel()" (onClicksReset)="onClickReset()"
          (onClicksSame)="onClickSame()"></app-buttons>
      </div>
    </div>
  </div>
