// Container

.container__calc {
  display: flex;
  height: 100vh;
  width: 100%;
}

.container__card__calc {
  display: flex;
  width: 350px;
  margin: auto;
  border-radius: 8px;
  flex-direction: column;
}

input {
  text-align: right;
  border: 0;
  background: transparent;

  &:focus {
    outline: none;
  }
}


// Header

.container__header__calc {
  display: flex;
}

.header__calc {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__title__calc {
  display: flex;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 22px;
}

.header__theme {
  display: flex;
}

// Display

.container__display {
  display: flex;
  width: 100%;
  margin-top: 15px;
  height: 85px;
  border-radius: 8px;
}

.display {
  display: flex;
  width: 97%;
  justify-content: flex-end;
  align-items: center;
  font-size: 28px;
}


// Calc
.container__calculation {
  display: flex;
  width: 100%;
  height: 300px;
  margin-top: 15px;
  border-radius: 8px;
  flex-direction: column;
}

.rows {
  display: flex;
  width: 88%;
  margin: 20px auto -2px auto;
  justify-content: space-between;
}


.button__item {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  margin-top: 9px;
  font-weight: bold;
}

.button__dot,
.button__0,
.button__slash,
.button__per,
.button__1,
.button__2,
.button__3,
.button__sub,
.button__4,
.button__5,
.button__6,
.button__plus,
.button__7,
.button__8,
.button__9 {
  display: flex;
  width: 55px;
  height: 35px;
  border-radius: 4px;
  cursor: pointer;
}

.button__del {
  display: flex;
  width: 55px;
  text-transform: uppercase;
  height: 35px;
  font-size: 13px !important;
  cursor: pointer;
  border-radius: 4px;
}

.button__reset {
  display: flex;
  width: 138px;
  text-transform: uppercase;
  height: 35px;
  cursor: pointer;
  border-radius: 4px;
  color: var(--white);
}

.button__same {
  display: flex;
  width: 138px;
  text-transform: uppercase;
  height: 35px;
  cursor: pointer;
  border-radius: 4px;
}

// Theme 1
.container__calc.theme-one {
  background: var(--main-background-1);
  color: var(--white);
  transition: 400ms;

  // Display
  .container__display {
    background: var(--screen-background-1);
  }

  .display {
    color: var(--white);
  }

  // Calc
  .container__calculation {
    background: var(--screen-background-1);
  }

  .button__dot,
  .button__0,
  .button__slash,
  .button__per,
  .button__1,
  .button__2,
  .button__3,
  .button__sub,
  .button__4,
  .button__5,
  .button__6,
  .button__plus,
  .button__7,
  .button__8,
  .button__9 {
    background: var(--key-background-orange);
    border-bottom: 3px solid var(--key-shadow-orange);
    color: var(--very-dark-grayish-blue);
    transition: 300ms;

    &:hover {
      background: var(--key-shadow-orange);
    }
  }

  .button__del {
    color: white;
    background: var(--key-background-1);
    border-bottom: 3px solid var(--key-shadow-1);
    transition: 300ms;

    &:hover {
    background: var(--key-shadow-1);
    }
  }

  .button__reset {
    background: var(--key-background-1);
    border-bottom: 3px solid var(--key-shadow-1);
    transition: 300ms;

    &:hover {
      background: var(--key-shadow-1);
    }
  }

  .button__same {
    background: var(--key-background-toggle-1);
    border-bottom: 3px solid var(--key-shadow-red-1);
    transition: 300ms;

    &:hover {
      background: var(--key-shadow-red-1);
    }
  }
}

// Theme 2
.container__calc.theme-two {
  background: var(--main-background-2);
  color: var(--very-dark-grayish-yellow);
  transition: 400ms;

  // Display
  .container__display {
    background: var(--screen-background-2);
  }

  .display {
    color: var(--very-dark-grayish-yellow);
  }

  // Calc
  .container__calculation {
    background: var(--toggle-background-2);
  }

  .button__dot,
  .button__0,
  .button__slash,
  .button__per,
  .button__1,
  .button__2,
  .button__3,
  .button__sub,
  .button__4,
  .button__5,
  .button__6,
  .button__plus,
  .button__7,
  .button__8,
  .button__9 {
    background: var(--key-background-yellow-2);
    border-bottom: 3px solid var(--key-shadow-yellow-2);
    color: var(--very-dark-grayish-yellow);
    transition: 300ms;

    &:hover {
      background: var(--key-shadow-yellow-2);
    }
  }

  .button__del {
    color: white;
    background: var(--key-background-2);
    border-bottom: 3px solid var(--key-shadow-2);
    transition: 300ms;

    &:hover {
      background: var(--key-shadow-2);
    }
  }

  .button__reset {
    background: var(--key-background-2);
    border-bottom: 3px solid var(--key-shadow-2);
    transition: 300ms;

    &:hover {
      background: var(--key-shadow-2);
    }
  }

  .button__same {
    background: var(--key-background-toggle-1);
    border-bottom: 3px solid var(--key-shadow-red-1);
    color: var(--white);
    transition: 300ms;

    &:hover {
      background: var(--key-shadow-red-1);
    }
  }
}



// Theme 3
.container__calc.theme-three {
  background: var(--main-background-3);
  color: var(--light-yellow-3);
  transition: 400ms;

  // Display
  .container__display {
    background: var(--screen-background-3);
  }

  .display {
    color: var(--light-yellow-3);
  }

  // Calc
  .container__calculation {
    background: var(--screen-background-3);
  }

  .button__dot,
  .button__0,
  .button__slash,
  .button__per,
  .button__1,
  .button__2,
  .button__3,
  .button__sub,
  .button__4,
  .button__5,
  .button__6,
  .button__plus,
  .button__7,
  .button__8,
  .button__9 {
    background: var(--key-background-3);
    border-bottom: 3px solid var(--key-shadow-3);
    color: var(--light-yellow-3);
    transition: 300ms;

    &:hover {
      background: var(--key-shadow-3);
    }
  }

  .button__del {
    color: var(--white);
    background: var(--key-background-3);
    border-bottom: 3px solid var(--key-shadow-3);
    transition: 300ms;

    &:hover {
      background: var(--key-shadow-3);
    }
  }

  .button__reset {
    background: var(--key-background-3);
    border-bottom: 3px solid var(--key-shadow-3);
  }

  .button__same {
    background: var(--key-background-cyan-3);
    border-bottom: 3px solid var(--key-shadow-cyan-3);
    color: black;
  }
}


@media screen and (max-width: 400px) {
  .container__card__calc {
    width: 90%;
  }

  .button__reset {
    width: 48%;
  }

  .button__same {
    width: 48%;
  }
}
